@charset "UTF-8";
/* CSS Document */

body {
	font: 100% Helvetica, Verdana, Arial, sans-serif;
	letter-spacing: 0.1em;
	background: #fff;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	line-height:115%;
}

p {
	margin-bottom: 20px;
}

a {
	text-decoration:none;
	font-weight:bold;
	color:inherit;
}

a:hover {
	text-decoration:underline;
}

a img {
	border: none;
}

h1 {
	margin-bottom:0px;
}


p.bio {
	text-align:justify;
	line-height: 133%;
}

#gallery_header {
	float:left;
	clear:both;
	width:100%;
	text-transform:capitalize;
	font-size:14pt;
	margin-top:15px;
	border-bottom: 1px solid #cccccc;
	height: 28px;
}

#gallery_container {
	width: 850px;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
	clear:both;
	float:none;
}

#gallery_header a {
}

#gallery_title {
	letter-spacing:0.1em;
}

#gallery_header a h1:hover {
	text-decoration:underline;
	clear:both;
}

#gallery_header a h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 0 0 5px 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}

#gallery_header_title {
	float:left;
	margin-left:3px;
	margin-bottom:3px;
	clear:both;
}

#gallery_sets {
	margin: 0px;
	text-align:left;
	float:left;
	width: 180px;
}

#gallery_body {
	float:left;
}

ul.set_list {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
 }

ul.set_list a {
	font-weight:inherit;
}

#imageTitle, #imageContainer, #imageDescription, #navContainer {
	text-align:center;
	clear:both;
	margin: auto;
	width:655px;
}

/* navContainer has div#nav and div#share; center #nav and move #share to the left.
  #share is about 70px wide, imageContainer is 650.
*/
#nav {
	width:85px;
	margin-left:230px;
	float:left;
}

#share {
	float:right;
}

#tweet_button_container {
	float:left;
	width:110px;
}

#fb_like_button_container {
	float:left;
	width:225px;
}

#flickr_link_container {
	float:left;
	margin-right:24px;
	width:22px;
}

#imageDescription {
}

#imageTitle {
	font-weight:bold;
}

#imageContainer {
	min-height: 640px;
}

body.set #imageContainer {
	cursor:pointer;
}

#imageContainer img {
}

#imageDescription, #imageTitle {
	color:#aaaaaa;
	font-size:8pt;
}

table.contact td {
	padding-bottom:15px;
}

a.navCtrl {
    cursor:pointer;
}

a.set {
	padding-left: 13px;
}

a.active {
	background: url(images/goright.gif) center left no-repeat;
    padding-left: 13px;
}

span.navCtrl {
    font-family:monospace;
}

span#navIndex {
	text-align:center;
    font-family:monospace;
	letter-spacing:normal;
	line-height:normal;
}

h2.set {
	font-size:12pt;
	font-weight:normal;
	padding-left:13px;
}

.admin {
}
