<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=1">
    <title>{% block title %}{{ this.title }}{% endblock %}</title>{% block extrahead %}{% endblock %}
    <link rel="stylesheet" href="{{ '/static/blog.css'|url }}">
    <link rel="shortcut icon" href="{{ '/static/favicon.gif'|url }}">
    <link rel="alternate" type="application/rss+xml" title="emptysqua.re - Feed" href="https://feeds.feedburner.com/emptysquare">
    <meta name="author" content="A. Jesse Jiryu Davis">
    {% if not this._discoverable %}
      <meta name="robots" content="noindex">
    {% endif %}
  </head>
  <body class="{{ this.body_class }}">
    {% block body %}{% endblock %}
    <div class="ga-script">{{ generate_google_analytics() }}</div>
  </body>
</html>
