{% extends "blog-layout.html" %}
{% from "macros/blog.html" import render_blog_post_content, render_blog_post_summary %}
{% block content %}
  <article class="page">
    <header>
      <h1 class="title"><a href="{{ this|url }}">{{ this.title }}</a></h1>
    </header>
    <div class="post-content">{{ this.intro }}</div>
    <h1 id="latest-posts">Latest Posts</h1>
    {% set children = this.pagination.items.limit(10) %}
    <ul class="post-list">
      {% for child in children %}
        <li>{{ render_blog_post_summary(child) }}</li>
      {% endfor %}
      <li><br><a href="{{ '/all-posts@2'|url }}" class="summary-title">... More Posts</a></li>
    </ul>
    <h1 id="selected-articles">Selected Articles</h1>
    <ul class="post-list">
      {% for child in this.pagination.items.filter(F.tags.contains('best')) -%}
        <li>{{ render_blog_post_summary(child) }}</li>
      {% endfor %}
    </ul>
    {{ render_blog_post_content(this) }}
  </article>
{% endblock %}
