{% extends "blog-layout.html" %}
{% from "macros/blog.html" import render_blog_post_content, render_nav_bottom %}
{% block title %}{{ this.title }}{% endblock %}
{% block content %}
  <article class="{{ this.type }}">
    <header>
      {% if this.type == 'post' %}
        <div class="post-meta">
          <time class="post-time">{{ this.pub_date|strftime }}</time>
          <span class="byline">
            <span class="sep">&nbsp;&mdash;&nbsp;</span>
            <span class="author">{{ site.get('blog').title }}</span>
          </span>
        </div>
      {% endif %}
      <h1 class="title"><a href="{{ this|url }}">{{ this.title }}</a></h1>
    </header>
    {{ render_blog_post_content(this) }}
  </article>
  <footer class="entry-meta">
    {% if this.categories %}
      {% set comma = joiner(", ") %}
      Categories:
      {% for c in this.categories -%}
        {{ comma() }}<a href="../category/{{ c.lower() }}" title="All posts in {{ c }}">{{ c }}</a>
      {%- endfor %}
    {% endif %}
    {% if this.tags %}
      <br>
      {% set comma = joiner(", ") %}
      Tags:
      {% for t in this.tags -%}
        {{ comma() }}<a href="../tag/{{ t.lower() }}" title="All posts tagged {{ t }}">{{ t }}</a>
      {%- endfor %}
    {% endif %}
  </footer>
  {% if this.type == 'post' %}
    {{ render_nav_bottom(this) }}
    {{ render_disqus_comments(identifier=this.legacy_id or this.path) }}
  {% endif %}
{% endblock %}
