{% macro render_search() %}
  <div>
    <script>
      (function() {
        var cx = '013219485737217459495:grvmo3rs62o';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:searchbox-only></gcse:searchbox-only>
  </div>
{% endmacro %}

{% macro render_main_nav() %}
  <nav class="main-nav">
    <ul>
      {% for source_path, title in [
        ('/all-posts/', 'All Posts'),
        ('/blog@atom/main', 'Feed'),
        ('/blog/about/', 'About'),
        ('/photography/', 'Photography'),
      ] %}
      <li class="nav-item menu-nav-item"><a href="{{ source_path|url }}">{{ title|escape }}</a>
      </li>{% endfor %}
      <li class="nav-item nav-divider nav-divider-1">Categories:</li>{% for category in site.query('category') %}
      <li class="nav-item category-nav-item"><a href="{{ category|url }}" title="{{ 'View all posts filed under ' + category.name }}">{{ category.name|escape }}</a>
      </li>{% endfor %}
      <li class="nav-item nav-divider nav-divider-2">&nbsp;</li>
      <li class="nav-item search-item">
        <form action="{{ '/search'|url }}" method="get" class="search-form">
          <input type="text" name="q" value="" id="search-input" class="search-text-input"/>
          <input type="submit" value="search" id="search-submit" class="button search-button"/>
        </form>
      </li>
    </ul>
  </nav>
{% endmacro %}


{% macro render_nav_bottom(record) %}
  <nav class="nav-below">
    <div class="nav-previous">
      {% set siblings = record.get_siblings() %}
      {% set older = siblings.next_page %}
      {% set newer = siblings.prev_page %}
      {% if older %}
        <a href="{{ older|url }}"><span class="meta-nav">&larr;&nbsp;</span>{{ older.title }}</a>
      {% endif %}
    </div>
    <div class="nav-next">
      {% if newer %}
        <a href="{{ newer|url }}">{{ newer.title }}<span class="meta-nav">&nbsp;&rarr;</span></a>
      {% endif %}
    </div>
  </nav>
{% endmacro %}


{% macro render_blog_post_content(post) %}
  <div class="post-content">{{ post.body }}</div>
{% endmacro %}


{% macro render_blog_post_summary(post) -%}
  <a href="{{ post|url }}" class="summary-title">{{ post.title }}</a>
  <a href="{{ post|url }}">
      {% set img = post.attachments.images|first %}
      {% if img %}
        {% set t = img.thumbnail(120) %}
        <img class="thumbnail" width="{{ t.width }}" height="{{ t.height }}" src="{{ t|url }}">
      {% endif %}
      <span class="excerpt">{{ post.summary }}</span>
  </a>
{% endmacro %}
