{% macro render_pagination(pagination) %}
  {% if pagination.pages > 1 %}
    {# assume pagination is always newest-first #}
    <nav class="nav-below">
      <div class="nav-previous">
        {% if pagination.has_next %}
          <a href="{{ pagination.next|url }}"><span class="meta-nav">&larr;&nbsp;</span>Older</a>
        {% endif %}
      </div>
      <div class="nav-current">
        Page {{ pagination.page }}
      </div>
      <div class="nav-next">
        {% if pagination.has_prev %}
          <a href="{{ pagination.prev|url }}">Newer<span class="meta-nav">&nbsp;&rarr;</span></a>
        {% endif %}
      </div>
    </nav>
  {% endif %}
{% endmacro %}
